PySide6
PySide6-Addons
PySide6-Essentials
PySide6-stubs
pyqtgraph

numpy==1.26.4
scipy
scikit-learn
tablib
tablib[xlsx]


jupyterlab
notebook
matplotlib

pyserial

termcolor

# Setup Tools
setuptools
build
