PySide6==6.6.3.1
PySide6-Addons==6.6.3.1
PySide6-Essentials==6.6.3.1
PySide6-stubs==6.4.2

PySide6
PySide6-Addons
PySide6-Essentials
PySide6-stubs

numpy
scipy
scikit-learn
tablib
tablib[xlsx]

setuptools
jupyterlab
notebook
matplotlib

pyserial
